tr id='ad_#{ad.id}'
  td= ad.id
  td= image_tag ad.image_ad_url(:small), class: 'avatar_header img-thumbnail'
  td= ad.name
  td= number_to_currency(ad.price)
  td
    - ad.categories.each do |category|
      = "#{category.name}"
  td
    - if ad.published?
      span.label.label-success Published
    - else
      span.label.label-warning Dont published
  td= link_to 'Delete ad', ad_path(ad), method: :delete, remote: true, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'
