h1 My ads
.col-md-10.col-md-offset-1
  - unless @ads.empty?
    table.table.table-striped
      thead
        tr
          th Id
          th Picture
          th Name
          th Price
          th Category
          th Status
          th Action
      tbody
        - @ads.each do |ad|
          = render 'ads', ad: ad
  - else
    p.text-danger You do not have any ads!
h1 Favourite ads
.col-md-12
  - @fav_ads.each do |fav|
    .col-md-6
      .well.media
        .media-left
          = image_tag fav.ad.image_ad_url(:thumb), class: 'thumbnail ads_favourite media-object'
        .media-body
          .title_fav_ads
            = link_to fav.ad do
              = fa_icon 'star 1x', text: "#{ fav.ad.name }"
          .media-heading
            = 
          h4= number_to_currency(fav.ad.price)
          p
            b #{time_ago_in_words(fav.ad.created_at)} ago
