.modal.fade.bs-example-modal-lg id='#image_#{image.id}' aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1" 
  .modal-dialog.modal-lg role="document" 
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button" 
          span aria-hidden="true"  ×
        h4#myModalLabel.modal-title = @ad.name
      .modal-body
        center
          = image_tag image.url.url(:medium)
