- if @ad.errors.any?
  #error_messages
    .alert.alert-danger role='alert' 
      button.close data-dismiss='alert' type='button'  x
      h2
        = fa_icon 'exclamation-triangle', text: 'Form is invalid'
      ul
        - @ad.errors.full_messages.each do |msg|
          li= msg
