= form_for @ad do |f|
  .row
    = render 'error'
  .row
    .col-md-4.col-xs-6
      p= f.label :name
      p= f.text_field :name, class: 'form-control', required: true
    .col-md-4.col-xs-6
      p= f.label :price
      p= f.number_field :price, class: 'form-control', required: true, step: 0.01
  .row
    .col-md-4.col-xs-6
      p= f.label :categories
      p= f.collection_select :category_ids, Category.without_subcategory, :id, :name, {}, multiple: true, class: 'form-control'
  .row
    .col-md-4.col-xs-6
      p= f.label :image_ad
      p= f.file_field :image_ad
      = f.hidden_field(:image_ad_cache)
  .row
    .col-md-8.col-xs-12
      p= f.label :description
      p= f.trix_editor :description

  .row
    = f.nested_fields_for :images do |ff|
      .col-md-7.col-xs-9
        p= ff.file_field :url
        = ff.hidden_field(:url_cache)
        = ff.hidden_field :imageable_type, value: Ad.name
        = ff.hidden_field :imageable_id, value: @ad.id
        br
      .col-md-3.col-xs-3
        = ff.remove_nested_fields_link class: 'btn btn-danger btn-sm' do
          = fa_icon 'minus-circle ', class: 'fa-1x'
  .row
    .col-md-2.col-xs-6
      = f.submit class: 'btn btn-success btn-block'
    .col-md-2.col-xs-6.col-md-offset-4
      center= f.add_nested_fields_link :images, class: 'btn btn-primary btn-block' do
        = fa_icon 'plus-circle ', class: 'fa-1x', text: "Add pictures"
