.col-md-8.col-xs-12
  = form_tag(ads_path, method: 'get', id: 'search-form') do
    .input-group
      = text_field_tag :search, params[:search], placeholder: 'Enter ads name', class: 'form-control input'
      span.input-group-btn
        = submit_tag 'Search', class: 'btn btn-primary'
