.jumbotron.jumbotron-sm.jb_contact
  .container
    .row
      .col-sm-12.col-lg-12
        h1.h1
          | Ads
.row
  = render 'search'
br
.row
  .col-md-10.col-xs-9.col-sm-9
    p.title_ads Ads
  .col-md-2.col-xs-3.col-sm-3
    - if user_signed_in?
      = link_to 'Add ads', new_ad_path, class: 'btn btn-success'
br
- if @ads.present?
  - @ads.each do |ad|
    .well
      .row
        .col-md-3.col-xs-4
          = link_to ad do
            = image_tag ad.image_ad_url(:thumb), class: 'img-thumbnail ads_index'
        .col-md-7.col-xs-6
          = link_to ad.name, ad, class: 'title_ads'
          h3= number_to_currency(ad.price)
          p
            ' Category:
            - ad.categories.each do |category|
              b #{category.name}
          p= ad.created_at.strftime("%B %d, %Y")
          h4= fa_icon 'eye', text: "#{ ad.ads_views.count }"
          = social_share_button_tag(ad.name)
          - if current_user
            = link_to favourite_ad_path(ad), id: "ad_#{ad.id}", remote: true do
              = fa_icon 'heart', text: "#{ad.favourite_ads.count}"
- else
  .col-md-8.col-xs-12
    .alert.alert-warning
      p There are no ads containing the term(s) #{params[:search]}
    p= link_to 'Return to all ads', ads_path
- if @ads.present?
  center= will_paginate @ads, renderer: BootstrapPagination::Rails
