.row.title_ads
  .col-md-9.col-xs-7.col-sm-9
    = @ad.name
    br
    .btn.btn-grop
      = link_to 'Back to all ads', ads_path, class: 'btn btn-info'
      - if current_user
        - if current_user.id == @ad.user_id
          = link_to 'Edit ad', edit_ad_path, class: 'btn btn-warning'
  .col-md-3.col-xs-5.col-sm-3
    = number_to_currency(@ad.price)
br
.row
  .col-md-9.col-xs-12.col-sm-9
    a data-target='#Ad_image' data-toggle='modal'
      = image_tag @ad.image_ad_url(:medium), class: 'img-thumbnail'
    br
    p Posted: at  #{@ad.created_at.strftime('%B %d, %Y')}
    p Listing № #{@ad.id}
    br
    b Category:
    - @ad.categories.each do |category|
        p #{ category.name }
    .well
      h3 Description:
      = raw @ad.description
    .well
      .row
        h3
          center Additional photos
        - unless @ad.images.count == 0
          - @ad.images.each do |image|
            .col-md-4.col-xs-6 id='image_#{image.id}'
              = link_to image_tag(image.url.url(:thumb)), image.url.url(:large), :popup=>['original_image', 'height=700,width=900'], class: 'img-thumbnail'
        - else
          center Not additional photo!
  .col-md-3.col-xs-12.col-sm-3
    h3= fa_icon 'eye', text: "#{ @ad.ads_views.count }"
    p.title_ads About the author
    = link_to user_profile_path(@ad.user, @ad.user.profile) do
      = fa_icon 'envelope', text: @ad.user.email
    p= fa_icon 'user-o', text: @ad.user.profile.full_name
    p= fa_icon 'phone', text: @ad.user.profile.phone
= render 'ad_modal'
