.jumbotron.jumbotron-sm.jb_contact
  .container
    .row
      .col-sm-12.col-lg-12
        h1.h1
          | Contact us 
          small Feel free to contact us
.row
  .col-md-8.col-xs-12
    .well.well-sm
      .row
        = form_for @message, url: contact_path do |f|
          .col-md-6.col-xs-12
            .form-group
              p= f.label :name
              = f.text_field :name, placeholder: 'Name', class: 'form-control', required: true
            .form-group
              p= f.label :email
              .input-group
                span.input-group-addon
                  = fa_icon 'envelope'
                = f.email_field :email, placeholder: 'Email', class: 'form-control', required: true
          .col-md-6.col-xs-12
            .form-group
              p= f.label :content
              p= f.text_area :content, placeholder: 'Message', class: 'form-control message_content_form', required: true
          .col-md-12 
            = f.submit 'Send message', class: 'btn btn-success pull-right'
  .col-md-4.col-xs-12
    form
      legend
        = fa_icon 'globe', text: 'Our office'
      address
        strong Twitter, Inc.
        br/
        | 795 Folsom Ave, Suite 600
        br/
        | San Francisco, CA 94107
        br/
        abbr title="Phone" 
          | P:
        | (123) 456-7890
      address
        strong Full Name
        br/
        a href="mailto:#"  first.last@example.com
