.col-md-8.col-xs-6
  - if @profile.errors.any?
    #error_messages
      .alert.alert-danger role='alert' 
        button.close data-dismiss='alert' type='button'  x
        h2
          = fa_icon 'exclamation-triangle', text: 'Form is invalid'
        ul
          - @profile.errors.full_messages.each do |msg|
            li= msg
