h1 Edit profile
= form_for [current_user, @profile] do |f|
  .row
    = render 'error'
  .row
    .col-md-4.col-xs-6
      p= f.label :first_name
      p= f.text_field :first_name, class: 'form-control', required: true
    .col-md-4.col-xs-6
      p= f.label :last_name
      p= f.text_field :last_name, class: 'form-control', required: true
  .row
    .col-md-4.col-xs-6
      p= f.label :username
      p= f.text_field :username, class: 'form-control', required: true
    .col-md-4.col-xs-6
      p= f.label :birthday
      p= f.text_field :birthday, type: 'date', class: 'form-control'
  .row
    .col-md-4.col-xs-6
      p= f.label :phone
      p= f.text_field :phone, class: 'form-control', required: true
  .row
    .col-md-8.col-xs-12
      p= f.label :about
      p= f.trix_editor :about, class: 'form-control'
  .row
    .col-md-10.col-xs-12
      p= f.label :avatar
      p= f.file_field :avatar, class: 'profile_upload'
      = f.hidden_field(:avatar_cache)
  .row
    .upload-preview.col-md-6
      br
        img.upload_avatar/
  .row
    .col-md-4.col-xs-12
      br= f.submit 'Update profile', class: 'btn btn-success btn-block'
