h1= @profile.full_name
.row
  .col-md-10.col-xs-12
    .col-md-4.col-sm-6.col-xs-6
      = image_tag @profile.avatar_url(:large), class: 'avatar_show img-thumbnail'
      - if require_user_profile
        p= link_to 'Edit profile', edit_user_profile_path, class: 'btn btn-warning edit_profile_button'
      p= link_to 'Reviews of users', user_user_reviews_path, class: 'btn btn-info edit_profile_button'
    .col-md-8.col-sm-6.col-xs-6
      table.table.table-hover
        tbody
          tr
            th Email:
            td= @profile.user.email
          tr
            th Username:
            td= @profile.username
          tr
            th Birthday:
            td= @profile.birthday
          tr
            th Phone:
            td= @profile.phone
          tr
            th Role:
            td= user_admin?
.row
  .col-md-7.col-md-offset-3.col-xs-12
    .well
      b About me:
      p= raw @profile.about
