li
  .panel.panel-default data-chat_room-id="#{chat_room.id}"
    .panel-heading
      = link_to chat_room.opposed_user(user).name_space, '', class: 'toggle-window'
      = link_to "x", close_chat_room_path(chat_room), class: "btn btn-default btn-xs pull-right", remote: true, method: :post
    .panel-body style=("display: none;")
      .latters-list
        ul= render 'chat_rooms/chat_room_content', latters: chat_room.latters, user: user
      br
      = form_for [chat_room, chat_room.latters.new], remote: true do |f|
        = f.hidden_field :user_id, value: user.id
        = f.text_area :body, class: "form-control"
        br
        = f.submit "Send", class: "btn btn-success"
