var chat_rooms = $('#chat_rooms-list');
var chat_room = chat_rooms.find("[data-chat_room-id='" + "<%= @chat_room.id %>" + "']");

if (chat_room.length !== 1) {
  chat_rooms.append("<%= j(render 'chat_rooms/chat_room', chat_room: @chat_room, user: current_user) %>");
  chat_room = chat_rooms.find("[data-chat_room-id='" + "<%= @chat_room.id %>" + "']");
}

chat_room.find('.panel-body').show();

var latters_list = chat_room.find('.latters-list');
var height = latters_list[0].scrollHeight;
latters_list.scrollTop(height);
