.col-md-6
  h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      br
      = f.email_field :email, autofocus: true, class: 'form-control', required: true
    .field
      br
      = f.label :password
      - if @minimum_password_length
        em
          | (#{@minimum_password_length} characters minimum)
      br
      = f.password_field :password, autocomplete: 'off', class: 'form-control', required: true
    .field
      br
      = f.label :password_confirmation
      br
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', required: true
    .actions
      br
      .btn.btn-group
        = f.submit "Sign up", class: 'btn btn-success'
        = link_to "Log in", new_session_path(resource_name), class: 'btn btn-primary'
