doctype html
html
  head
    link rel="icon" type="image/png" href="http://res.cloudinary.com/dpl8cm5ts/image/upload/v1497273770/w128h1281371488121classifieds128_ahnzmj.png"
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    title Ad for sale - admin panel
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    .container
      = render 'shared/admin/header'
      = yield
