.col-md-8.col-xs-12
  h2 Forgot your password?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      br
      .input-group
        = f.email_field :email, autofocus: true, class: 'form-control'
        .input-group-btn
          = f.submit 'Send me reset password instructions', class: 'btn btn-danger'
  = render 'devise/shared/links'
