link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" 
  footer.footer1
    .container
      .row
        /! row
        .col-lg-4.col-md-4.col-xs-6
          /! widgets column left
          ul.list-unstyled.clear-margins
            /! widgets
            li.widget-container.widget_nav_menu
              /! widgets list
              h1.title-widget Useful links
              ul
                li= link_to root_path do
                  i.fa.fa-angle-double-right
                  | Home page
                li= link_to ads_path do
                  i.fa.fa-angle-double-right
                  | Ads
                li= link_to contact_path do
                  i.fa.fa-angle-double-right
                  | Contact Us
        .col-lg-4.col-md-4.col-xs-6
        .col-lg-4.col-md-4.col-xs-6
          ul.list-unstyled.clear-margins
            li.widget-container.widget_recent_news
              h1.title-widget Contact Detail
              .footerp
                p
                  b Email id:
                  a href="mailto:gtafan51@gmail.com"  gtafan51@gmail.com
                p
                  b Helpline Numbers
                  b style="color:#ffc106;"  (8AM to 10PM):
                  p 88005553535
              .social-icons
                ul.nomargin
                  a href="https://www.facebook.com/bootsnipp" 
                    i#social.fa.fa-facebook-square.fa-3x.social-fb
                  a href="https://twitter.com/bootsnipp" 
                    i#social.fa.fa-twitter-square.fa-3x.social-tw
                  a href="https://plus.google.com/+Bootsnipp-page" 
                    i#social.fa.fa-google-plus-square.fa-3x.social-gp
                  a href="mailto:bootsnipp@gmail.com" 
                    i#social.fa.fa-envelope-square.fa-3x.social-em
  .footer-bottom
    .container
      .row
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          .copyright
            | &#xA9; 2017, CrashGtaFan, All rights reserved
