nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded='false' data-target='#bs-example-navbar-collapse-1' data-toggle='collapse' type='button' 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a
        = link_to root_path, class: 'navbar-brand' do
          = fa_icon 'usd'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li= link_to 'Ads', ads_path
        li= link_to 'Contacts', contact_path
      ul.nav.navbar-nav.navbar-right
        - if current_user
          li.dropdown
            a.dropdown-toggle aria-expanded='false' aria-haspopup='true' data-toggle='dropdown' href='#' role='button'
              = current_user.name_space
              = image_tag current_user.profile.avatar_url(:small), class: 'avatar_header_style img-circle'
              span.caret
            ul.dropdown-menu
              li= link_to 'My Profile', user_profile_path(current_user, current_user.profile)
              li= link_to 'My ads', my_ads_path
              li= link_to 'Messages', chat_room_path
              - if current_user.try(:admin)
                li= link_to 'Admin panel', admin_root_path
              li.divider role='separator' 
              li= link_to 'Log Out', destroy_user_session_path, method: :delete
        - if current_user
          li= link_to 'Log Out', destroy_user_session_path, method: :delete
        - else
          li= link_to 'Sign Up', new_user_registration_path
          li= link_to 'Login', new_user_session_path
