li
  .row
    div class=("#{user.id == latter.user_id ? 'well text-right' : 'well text-left'}") 
      = image_tag latter.user.profile.avatar_url(:small), class: 'avatar_header_style img-circle'
      p= latter.body
      h6 #{time_ago_in_words(latter.created_at)} ago