var chat_room = $('#chat_rooms-list').find("[data-chat_room-id='" + "<%= @chat_room.id %>" + "']");
chat_room.find('.latters-list').find('ul').append("<%= j(render 'latters/latter', latter: @latter, user: current_user) %>");
chat_room.find('textarea').val('');
