.row
  .col-md-6.col-xs-12.col-md-offset-3
    center
      h2 You are added to the black-list of our site!
      p= image_tag src='/assets/stop.png', class: 'stop-image'
      h3= link_to 'Redirect to main page', root_path
