.row
  .col-md-9
    ul#chat_rooms-list
      - @chat_rooms.each do |chat_room|
        = render 'chat_rooms/chat_room', chat_room: chat_room, user: current_user
  .col-md-3
    .panel.panel-primary
      .panel-heading
        h3.panel-title User list
      .panel-body
        ul
          - @users.each do |user|
            li
              = image_tag user.profile.avatar_url(:small), class: 'avatar_header_style img-circle'
              = link_to user.name_space, chat_rooms_path(user_id: user), remote: true, method: :post
              br
