.row
  .col-md-8.col-xs-12
    .jumbotron
      h2 Welcome to the site for placing ads
      p If this is your first visit, you can register. If you have an account, then you can login
      - unless current_user
        .btn.btn-group
          = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info btn-sm'
          = link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-sm'
  .col-md-4.col-xs-12
    = cl_image_tag('w128h1281371488121classifieds128_ahnzmj.png', width: 160, crop: 'scale')
    - unless @users.count.blank?
      p.title_ads Active users:
      table.table.table-hover
        - @users.each do |user|
          tr.success
            td= user.name_space
            td= pluralize user.ads.published.length, 'Ad'
h1
  center Latest Ads
.row
  .col-md-10.col-md-offset-1
    - @ads.each do |ad|
      .col-md-4.col-xs-12.col-sm-6.well.new_ads_block
        center
          = link_to ad_path(ad) do
            = image_tag ad.image_ad_url(:thumb), class: 'thumbnail ads_index'
        = cl_image_tag('new_hb6wbj.png', width: 50, crop: 'scale')
        = link_to ad.name, ad_path(ad)
        h4= number_to_currency(ad.price)
        p
          b #{time_ago_in_words(ad.created_at)} ago
        p
