.col-md-6.col-xs-12
  = form_for [current_user, @user_review], remote: true do |f|
    p= f.trix_editor :body, required: true
    p= f.hidden_field :commenter_id, value: params[:user_id]
    .row
      .funkyradio
        .col-md-6.col-xs-6
          .funkyradio-success
            = f.radio_button :type_reviews, true, checked: true
            = f.label :type_reviews, 'Positive rewiew', value: 'true'
        .col-md-6.col-xs-6
          .funkyradio-danger
            = f.radio_button :type_reviews, false
            = f.label :type_reviews, 'Negative rewiew', value: 'false'
    br= f.submit class: 'btn btn-success'
