- @user_reviews.each do |u_r|
  .row id='user_review_#{u_r.id}'
    .col-md-6.well
      .row
        .col-md-2.col-xs-2
          = image_tag u_r.user.profile.avatar_url(:small), class: 'avatar_header img-circle'
        .col-md-8.col-xs-8
          = u_r.user.name_space
        .col-md-2.col-xs-2
          div class="#{u_r.type_reviews ? 'text-success' : 'text-danger'}"
            = fa_icon "#{u_r.type_reviews ? 'thumbs-o-up' : 'thumbs-o-down'} 2x"
      .row
        .col-md-12
          p= raw u_r.body
          - if current_user.id == u_r.user_id
            = link_to 'Delete', [u_r.user, u_r], method: :delete, remote: true, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs pull-left'
      br
