.col-md-8
  h1 User reviews
.col-md-4
  table.table.table-bordered
    thead
      center
        tr
          th.text-success
            center= fa_icon 'thumbs-o-up 2x'
          th.text-danger
            center= fa_icon 'thumbs-o-down 2x'
    tbody
      center
      tr
        td.text-success
          center= @user_reviews.where(type_reviews: true).count
        td.text-danger
          center= @user_reviews.where(type_reviews: false).count
br
- if @user_reviews.empty?
  p Not reviews
.all_reviews
  = render 'user_reviews'
= will_paginate @user_reviews, renderer: BootstrapPagination::Rails
.row
  - if current_user
    h1 Leave reviews:
    = render 'form'
