.row
  .col-md-5.col-md-offset-3
    center
      h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .input-group.margin-bottom-sm
        span.input-group-addon
          = fa_icon 'envelope-o'
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address'
      br
      .input-group
        span.input-group-addon
          = fa_icon 'key'
        = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
      - if devise_mapping.rememberable?
        .funkyradio
          .funkyradio-primary
            = f.check_box :remember_me
            = f.label :remember_me
      br
      .actions
        = f.submit 'Log in', class: 'btn btn-success btn-block'
        = link_to 'Sign up', new_registration_path(resource_name), class: 'btn btn-primary btn-block'
        = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-primary facebook_sign_up btn-block' do
          = fa_stacked_icon 'facebook', base: "square-o", text: 'Login is at Facebook'
