.col-xs-12.col-md-8.col-md-offset-2
  = form_for [:admin, @category], remote: true do |f|
    = f.label :name
    br
    = f.text_field :name, placeholder: :name, class: 'form-control'
    br
    .well
      h3
        center Subcategories
      br
      = f.nested_fields_for :subcategories do |ff|
        .col-xs-9.col-md-9
          = ff.text_field :name, placeholder: 'Enter name subcategory', class: 'form-control'
          = ff.hidden_field :parent_category_id, value: @category.id
          br
        .col-xs-3.col-md-3
          = ff.remove_nested_fields_link 'Remove', class: 'btn btn-danger'
      br
      center= f.add_nested_fields_link :subcategories, 'Add more', class: 'btn btn-success'
      br
    = f.submit class: 'btn btn-success'
