h1 Categories
.button
  = link_to 'New Category', new_admin_category_path, id: 'new_category', remote: true, class: 'btn btn-primary'
.col-md-8.col-xs-12.col-md-offset-2
  table.table.table-hover
    thead
      tr
        th Name
        th Action
    tbody
      .all_categories
        - @categories.each do |category|
          - if category.parent_category_id.blank?
            tr id='category_#{category.id}'
              td= category.name
              td= link_to 'Delete category', admin_category_path(category), method: :delete, remote: true, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs'
          = render partial: 'subcategory', locals: {subcategories: category.subcategories} if category.subcategories.present?
