tr id='ad_#{ad.id}'
  td= ad.id
  td= image_tag ad.image_ad_url(:small), class: 'avatar_header img-thumbnail'
  td= ad.name
  td= ad.user.name_space
  td
    - ad.categories.each do |category|
      = category.name
  td
    - if ad.published?
      span.label.label-success Published
    - else
      span.label.label-warning Dont published
  td
   .btn-group
      button.btn.btn-info.btn-xs.dropdown-toggle aria-expanded="false" aria-haspopup="true"  data-toggle="dropdown" type="button" 
        | Action
        span.caret
      ul.dropdown-menu
        - if ad.published
          li= link_to 'Cancel approval', ad_approval_admin_ad_path(ad)
        - else
          li= link_to 'Approve', ad_approval_admin_ad_path(ad)
        li.divider role="separator" 
        li= link_to 'Delete ad',  ad_path(ad), method: :delete, remote: true, data: { confirm: 'Are you sure?'}
