.col-md-10.col-md-offset-1
  - unless @ads_not_aproval.count == 0
    h1 Not approved ads
    table.table.table-hover
      = render 'thead'
      tbody
        - @ads_not_aproval.each do |ad|
          = render 'ads', ad: ad
  - else
    .alert.alert-dismissible.alert-warning
      button.close data-dismiss="alert" type="button"  ×
      h4 There are currently no ads available!
br
.col-md-10.col-md-offset-1
  - unless @ads_aproval.count == 0
    h1 Aproved ads
    table.table.table-hover
      = render 'thead'
      tbody
        - @ads_aproval.each do |ad|
          = render 'ads', ad: ad
  - else
    .alert.alert-dismissible.alert-info
      button.close data-dismiss="alert" type="button"  ×
      h4 There are currently no approved ads!
  center= will_paginate @ads_aproval, renderer: BootstrapPagination::Rails
