/*
 *= require_tree .
 *= require_self
 *= require social-share-button
 *= require font-awesome
 *= require trix
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'footer';
@import 'messages';
@import 'radio_button';

.avatar_header_style{
  width: 25px;
  height: 25px;
}
.avatar_header{
  width: 50px;
  height: 50px;
}
.avatar_show{
  width: 250px;
  height: 250px;
}
.edit_profile_button{
  width: 250px;
}
.upload_avatar{
  height: 100px;
}
.child_category_name{
  padding-left: 40px !important;
}
.child_color_bg{
  background-color: #ddd;
}
.title_ads{
  font-size: 34px;
}
.title_fav_ads{
  font-size: 24px;
}
.ads_index{
  width: 200px;
}
@media (max-width: 768px){
  .ads_index{
    width: 150px;
  }
}
@media (max-width: 768px){
  .new_ads_block{
    height: 200px;
  }
}
.ads_favourite{
  width: 110px;
}
.new_ads_block{
  height: 350px;
}
.stop-image{
  width: 300px;
  heigth: 100%;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}
ul {
  padding-left: 0px;
  list-style: none;
}
.latters-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.latter-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}
.latter-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
.danger .dropdown-menu {
  background-color: black;
}
.facebook_sign_up{
  background-color: #3b5998;
}
// .facebook_sign_up:hover{
//   background-color: #363843;
// }