.jumbotron.jb_contact {
  background: #d9534f;
  color: #FFF;
  border-radius: 0px;
}
.jumbotron-sm {
  padding-top: 24px;
  padding-bottom: 24px;
}
.jumbotron small {
  color: #FFF;
}
.h1 small {
  font-size: 24px;
}
.form-control.message_content_form{
  height: 137px;
}
