.title_ads Black-list
table.table.table-striped
  thead
    tr.danger
      th #
      th Full name
      th Username
      th Avatar
      th Birthday
      th Email
      th Phone
      th
  tbody
    - @banned_users.each do |user|
      tr id='user_#{user.id}'
        td= user.id
        td= user.profile.full_name
        td= user.profile.username
        td= image_tag user.profile.avatar_url(:small), class: 'avatar_header img-circle'
        td= user.profile.birthday
        td= user.email
        td= user.profile.phone
		- if user.banned
          td= link_to 'Remove to ban-list', ad_to_black_list_admin_user_path(user),  class: 'btn btn-warning btn-sm'
