.title_ads Users list
- @users.each do |user|
  tr id='user_#{user.id}' class="#{user.banned ? 'danger' : 'default'}"
    td= user.id
    td= user.profile.full_name
    td= user.profile.username
    td= image_tag user.profile.avatar_url(:small), class: 'avatar_header img-circle'
    td= user.profile.birthday
    td= user.email
    td= user.profile.phone
    - if user.admin?
      td Admin
    - else
      td User
    td
      .btn-group
        button.btn.btn-info.btn-sm.dropdown-toggle aria-expanded='false' aria-haspopup='true' data-toggle='dropdown' type='button'
          | Action
          span.caret
        ul.dropdown-menu
          - if user.admin
            li= link_to 'Assign user', change_permission_admin_user_path(user)
          - else
            li= link_to 'Assign admin', change_permission_admin_user_path(user)
          - unless user.banned
            li= link_to 'Ad to ban-list', ad_to_black_list_admin_user_path(user)
          li.divider role='separator'
          li= link_to 'Delete user', admin_user_path(user), method: :delete, remote: true, data: { confirm: 'Are you sure?'}
