h1 All users
.row
  .col-md-12.col-xs-12.col-sm-10
    ul.nav.nav-pills.nav-justified
      li.active role="presentation" 
        a href="#tab-1" data-toggle="tab" Users list
      li role="presentation" 
        a href="#tab-2" data-toggle="tab" Black-list
.row
  .col-md-12.col-xs-12.col-sm-10
    .tab-content
      #tab-1.tab-pane.fade.in.active
        table.table.table-hover
          thead
            = render 'thead_user'
          tbody
            = render 'users'
      #tab-2.tab-pane.fade
        - unless @banned_users.empty?
          = render 'ban_list'
        - else
          center
            h1.text-primary The black-list a empty
