nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded='false' data-target='#bs-example-navbar-collapse-1' data-toggle='collapse' type='button' 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a
        = link_to admin_root_path, class: 'navbar-brand' do
          = fa_icon 'usd'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
  
      ul.nav.navbar-nav.navbar-left
        li= link_to 'Users', admin_users_path
        li= link_to 'All ads', admin_ads_path
        li= link_to 'Categories', admin_categories_path
      ul.nav.navbar-nav.navbar-right
        li= link_to 'Return to site', root_path
        li= link_to 'Log Out', destroy_user_session_path, method: :delete
