doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /

    title Ad for sale
    link rel="icon" type="image/png" href="http://res.cloudinary.com/dpl8cm5ts/image/upload/v1497273770/w128h1281371488121classifieds128_ahnzmj.png"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    .container
      = render 'shared/header'
      .col-md-4.col-xs-12.col-md-offset-8
        - flash.each do |name, msg|
          = content_tag :div, msg, id: "flash_#{name}", class: 'alert alert-info message'
      = yield
      .row
        .col-md-12
          = render 'shared/footer'
